
// Root

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --main-text-color-theme-dark: #ffffff;
  --main-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
  --btn-background-color: #188ce8;
  --accent-background-color-dark: #2f303a;
  --accent-background-color-grey: #f5f4fa;
  --color-line-header: #ececec;
  --color-line-box: #eeeeee;
  --icon-color: #afb1b8;
  --background-icon-color-dark: #ffffff1a;
  --accent-second-color: #2196f3e6;
  --modal-background-color: #00000033;
  --modal-border-btn-color: #0000001a;
  --black: #000000;
  --background-dark-transparant: #2f303acc;
  --border-color-grey: #21212133;
  --color-text-grey: #ffffff99;

  --space-between-clients: 30px;
  --amount-of-clients: 6;
  --space-between-exemples: 30px;
  --ammount-of-exemples-on-line: 3;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


@mixin flex($f: flex, $c: center, $cen: center) {
  display: $f;
  align-items: $c;
  justify-content: $cen;
}

