
.logo {
   padding: 24px 0px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #000000;

  &--blue {
      color: var(--accent-color);
    }

    &--wite {
    color: var(--main-text-color-theme-dark);
    padding-top: 0;
    padding-bottom: 0;
}

  @include size(desktop) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.nav__logo--position {
  @media screen and(min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 93px;}
 
}




