body {
  font-family: var(--main-font);
  color: var(--secondary-text-color-theme-light);
}

.subtitle {
  color: var(--main-text-color-theme-light);
}

.subject {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

