
.employees {
    background-color: var(--accent-background-color-grey);
}

.employees__list {

    @include size(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

.employees__item {
    padding-bottom: 24px;
    background-color: var(--main-text-color-theme-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include size(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        
    }

    @include size(tablet-only) {
        width: calc((100% - 30px) / 2);
        
        // &:nth-child(2n+1) {
        //     margin-right: 30px;
        // }

        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }

     @include size(desktop) {
        width: calc((100% - 90px) / 4);
            padding-bottom: 30px;
        
            
            
        
            // &--position {
            //     margin-right: 30px;
            // }
     }
   
}



.employees__img {
    margin-bottom: 30px;
}

.employees__name {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.employess__job {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}