
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color-dark);

  &--position {
    text-align: center;

    @include size(tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

      
    }
}

.footer__box {

  @include size(desktop) {
  &:first-child {
      width: 231px;
      margin-right: 70px;
    }
  
    &:nth-child(2) {
      margin-right: 93px;
    }
  }

  @include size(not-desktop) {
    &--position {
    margin-bottom: 60px;
  }
  

  }
}

.footer__box--grow {
  flex-grow: 1;
}

.address {
  font-style: inherit;

  &--position {
  margin-top: 20px;
}
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link--white {
  &,
    &:hover,
    &:focus {
      color: var(--main-text-color-theme-dark);
    }
}

.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.address__item:nth-child(n+2) {
    margin-top: 8px;

    @include size(desktop) {
      margin-top: 9px;
    }
}

.footer__title {
    margin-bottom: 20px;
    color: var(--main-text-color-theme-dark);
    display: block;
}

.footer__action {
  @include size(desktop) {
  display: flex;
  justify-content: space-between;
  }

}

.action__label {
  display: block;
  flex-grow: 1;
  
  @include size(not-desktop) {
    margin-bottom: 20px;
  }
}

.action__input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: var(--color-text-grey);

  transition: border-color 250ms var(--timing-function);

  &:hover,
    &:focus {
      border-color: var(--main-text-color-theme-dark);
    }

  @include size(tablet-only) {
      width: 450px;
  }
}


